.form_flex {
    width: 100%;
    background-color: rgb(60, 60, 60);
    transition: box-shadow 0.2s ease-in-out;
}

.form_label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form_input {
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.form_select {
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.form_button {
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}